<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <p>Sample technological glossary</p>
  </header>
  <main>
    <div >
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>TERM</th>
            <th>DESCRIPTION</th>
            <th>REFERENCE</th>
          </tr>
        </thead>
        <tbody>
          <% glossary.forEach((row) => { %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.Term %></td>
              <td><%= row.Description %></td>
              <td><%= row.reference %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
